<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Show Page</h1>
   <h3>Info Submitted:</h3>
    <p>Name: {{ name_on_template }}</p>
    <p>Email: {{ email_on_template }}</p>
    <p> what is your position </p>
    <p>Language: {{ language_from_form }}</p>
    <p>Country: {{ country_from_form }}</p>
    <p>How many siblings do you have?: {{ optradio_from_form }}</p>
    <p>What do you like to do in free time?: {{ one_from_form }}, {{ two_from_form }},  {{ three_from_form }} </p>
   
    <p>opnion: {{ Optional_from_form }}</p>

</body>
</html>